* {
  margin: 0;
  padding: 0; /* 
  outline: 1px solid red; */
  font-family: "Josefin Sans", sans-serif;
  color: var(--txt-color);
  font-size: 24px;
}

:root {
  --bg-color: #ffeead;
  --fg-color: #ffad60;
  --pr-color: #96ceb4;
  --sec-color: #ffad60;
  --txt-color: #fff8f3;
  --crd-color: #fff9e8;
  --nd-color: #598592;
  --st-color: #3e4550;
}

/* Main */

.grid-container {
  background-color: rgb(81, 83, 90);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 230px 5fr;
  grid-template-rows: 1fr 5fr;
  row-gap: 0.2rem;
}

.grid-container div {
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* Header, Upper */

.header {
  background-color: var(--fg-color);
  grid-column: 2/4;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto;
  padding: 20px;
  gap: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  grid-template-rows: 1/2;
  flex-grow: 2;
  max-width: 70%;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.search-bar .icon {
  width: 35px;
}

#search {
  width: 100%;
  padding: 15px;
  height: 2rem;
  color: black;
}

.chime {
  margin-left: 1rem;
  margin-right: 1rem;
}

.chime .icon {
  width: 35px;
}

.user-av-second {
  display: flex;
  align-items: center;
}

/* Header, Lower */

.user-chime {
  grid-template-rows: 2/3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.user-greet {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
}

.user-av-main {
  grid-column: 1/2;
  grid-row: 1/3;
}

.user-av-main img {
  width: 60px;
}

.crud {
  display: flex;
  gap: 8px;
  margin-right: 18px;
}

.action-btn {
  padding: 10px;
  background-color: var(--nd-color);
  border-radius: 5px;
  border-style: none;
  box-shadow: 2px 2px 5px 0px rgba(77, 77, 77, 0.568);
  margin: 10px;
}

.action-btn:hover {
  background-color: var(--pr-color);
}

.action-btn:active {
  box-sizing: border-box;
  transform: translate(3px, 3px);
}

/* Nav */

.nav {
  background-color: var(--pr-color);
  display: flex;
  flex-flow: column nowrap;
  gap: 50px;
  grid-column: 1/2;
  grid-row: 1/7;
  padding: 1rem;
}

ul,
li {
  color: var(--txt-color);
  display: flex;
  list-style: none;
  padding: 10px 20px 10px 5px;
  margin: 0;
  font-size: clamp(12px, 1rem, 2rem);
}

ul li:hover {
  background-color: #baf7da;
  border-radius: 5px;
}

ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 3rem;
}

li {
  align-items: center;
}

.icon {
  width: 30px;
  padding-right: 0.5rem;
}

#logo {
  color: var(--txt-color);
  font-size: clamp(12px, 1rem, 48px);
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 40px;
  padding-right: 0.5rem;
}

/* Body */

.admin-body {
  background-color: var(--crd-color);
  grid-column: 2/4;
  grid-row: 2/7;
}

.admin-card {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--pr-color);
  border-radius: 5%;
  gap: 1rem;
  padding: 15px;
  border-left: 10px solid var(--fg-color);
}

.admin-card .description,
.title,
.subtitle {
  color: var(--st-color);
}

.admin-card .title {
  font-size: 1.4rem;
}

.admin-tasks {
  padding: 1rem;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, 20%);
  grid-template-rows: repeat(auto-fit, 1fr);
}
